
@{
    ViewBag.title = "Weather";
}

<!DOCTYPE html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/bootstrap.css")
@Styles.Render("~/Content/weather.css")

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WeatherAnswer</title>
</head>
<body>
    <div> 
        @Html.Raw(ViewBag.responseHTML)
    </div>
</body>
</html>
