@{ 
    ViewBag.title = "Weather";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")    
@Styles.Render("~/Content/weather.css")
        
<body id='body'>
    @using (Html.BeginForm("WeatherAnswer", "home"))
    {
        <p>Enter city: </p> @Html.TextBox("location")
        <input type="submit" value="Get weather" />
        <br />
        <p>@Html.RadioButton("timescale", "daily", true) Daily Forecast</p>
        <p>@Html.RadioButton("timescale", "hourly", false) 3 Hour Forecast</p>
    }
</body>

